doctype
html(lang='es' ng-app="app")
    head
        block head_block
            base(href="/")

            meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title AngularJS - Coffeescript
            link(rel="stylesheet", href="css/app.min.css")
            link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
    body
        block app_block
            h1 Hola Mundo!
        block footer_block
            script(src="js/app.min.js")